<div id="navigation">
	<ul id="boards">	    	
    <% if @current_user.boards.count > 1 %>
	    <%= render :partial => @current_user.boards %>
    <% end %>
    </ul>
		
	    
	<%= sortable_element 'boards', :url => order_boards_path, :tag => 'li' %>
	
	<div>
    <%= link_to '+', new_board_path, :remote => true %>
	</div>
	
</div>