<%= render_box(note, dom_id(note), js_update_pos(note), true) do %>

	<%= div_content(note, dom_id(note)) do %>
	   <%= format_content note %>
	<% end %>
	
	<div class="footer">
	   <div class="status">
	   <%= note.updated_at %>
	   </div>
	</div>		
	      
<% end %>



