<div id="desktop">
    <%= render @notes %>
</div>

<%= javascript_tag do %>
   document.observe('dblclick', 
                    function(event) { 
					   create_note_request(event, "<%= js_url(new_note_path) %>"); 
					});
<% end %>

